.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: #aaffaa;
  background: #222;
  font-family: monospace;
}

.App h2:after {
  content: "\2588";
  animation: 1s fade infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.App .claps {
  color: white;
  margin-top: 30px;
}

.App .claps__ClapIcon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  overflow: visible;
  fill: white;
  width: 50px;
  height: 50px;
}

.App .claps__ClapIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}
